{% extends "main.j2" %}
{% block title %}About Page{% endblock %}
{% block name %}<h2>About Page</h2>{% endblock %}

{% block content %}
    {{ super() }}
        <p>This is the Portfolio by Tommy Nguyen & Dylan Majewski of [redacted]</p>

        <h3>Overview</h3>

        <p>
        TripQuick is a website/web application tool that is used to assist, plan, and finalize travel itineraries for any single destination trips that a traveler may desire. Rather than booking a flight on one website, booking a reservation on another, and a hotel booking on, yet again, another website; TripQuick is a single-source solution where common forms of travel reservations can be scheduled and reserved, including destination activities. 
        </p>
        
        <p>
        TripQuick is projected to have roughly 10,000 monthly users and requires a database to track and record the accompanying information. Information of such things relating to the traveler, accommodations, flights, any possible activity reservations, and their living situation while they are out on their trip. Ultimately, this database would serve to keep and maintain the needed information that travelers will need on their trip, every step of the way. 
        </p>

        <h3>This program was made possible by viewers like you!</h3>

        <p>
        We would like to thank [redacted], the fabulous TAs, and our fellow students for reviewing our and others' work.
        So much has been learned in such an enjoyable and engaging way!
        </p>

        <p>
        <b>Visit us on LinkedIn:</b><br />
        <a href="https://www.linkedin.com/in/tommyhuunguyen/">Tommy Nguyen</a><br />
        <a href="https://www.linkedin.com/in/dylan-majewski-8a00b2177/">Dylan Majewski</a></p>

        <p>
            The background was photographed by group member Dylan Majewski. Pictured is a crop duster mid turn somewhere along Washington State Route 26 in July 2023.
            It was taken on 35mm Fujifilm Superia X-tra 400 Color with a Pentax Zoom 105-R that has faulty light sealing around the cartridge viewport, hence the orange anomalies.
            Developed and scanned by Shot on Film Store in Seattle, Washington.
            <a href="../static/background.jpg">Direct link to the image.</a>
        </p>

        
{% endblock %}
