{% extends "main.j2" %}
{% block title %}Activities_Itineraries{% endblock %}
{% block name %}<h2>Activities_Itineraries</h2>{% endblock %}
{% block content %}
        {{ super() }}

<!-- 
    Citation for the following data gathering:
    Date: 12/9/2023
    Based on: [redacted]
    Source URL: [redacted]
-->

        <!-- Access the data that was passed from the app.py -->
        {% if data %}
        <table>
            <thead>
                <tr>
                    <!-- Loops through the columns name -->
                    {% for key in data[0].keys() %}
                        <th scope="col" data-field="{{ key }}" data-filter-control="input">{{ key }}</th>
                    {% endfor %}
                </tr>
            </thead>

            <tbody>
            <!-- Loops through every item -->
            {% for item in data %}
                <tr>
                        <!-- For each item, get key -->
                        {% for key in item.keys() %} 
                            <td> {{item[key]}} </td>
                        {% endfor %}
                            <!-- Edit and delete button/hyperlinks -->
                            <td><a href="#UpdateActivityItinerary" onClick="insertID({{ item }})">Edit</a></td>
                            <td><a href="#DeleteActivityItinerary" onClick="deleteID({{ item }})">Delete</a></td>
                </tr>
                    {% endfor %}
            </tbody>
        </table>
        {% else %}
        <p>There is no data for this table at the moment. Please add an item below.</p>
        {% endif %}


<!-- Insert a new activity - itinerary relationship -->
        <form id="AddActivityItinerary" action="/activities-itineraries" method="post">
            <fieldset>     
                <legend><Strong>Add Activity to Itinerary</Strong></legend>
                <label for="planID"> Itinerary </label> 
                <select id="planID" name="planID" required>
                    <option value="" disabled selected> Choose Itinerary </option>
                    {% for item in itineraryData %}
                        <option value="{{item['planID']}}">{{item['Itinerary']}}</option>
                    {% endfor %}
                </select>

                <label for="activityID"> Activity </label> 
                <select id="activityID" name="activityID" required>
                    <option value="" disabled selected> Choose Activity </option>
                    {% for item in activityData %}
                        <option value="{{item['activityID']}}">{{item['Activity']}}</option>
                    {% endfor %}
                </select>
                
                <button type="submit" value="Add Activity Itinerary" id="AddActivityItinerary" name="AddActivityItinerary">Add Activity to Itinerary</button>
                <button type="button" onClick="clearText()">Cancel</button>
            </fieldset>
        </form>
        <script>
            // Clears form fields when Cancel is clicked
            function clearText() {
                document.getElementById("planID").value = "";
                document.getElementById("activityID").value = "";
            }
        </script>


<!-- Update a selected activity to itinerary relationship -->
        <form id="UpdateActivityItinerary" action="/activities-itineraries" method="post">
            <fieldset>     
                <legend><Strong>Update Activity to Itinerary</Strong></legend>
                <label> Activity - Itinerary ID: </label>
                <input type="number" id="updateActivityItineraryID" name="activityItineraryID" placeholder="Select 'Edit' above." readonly required>

                <label for="planID"> Itinerary </label> 
                <select id="updatePlanID" name="planID">
                    <option value="" disabled selected> Choose Itinerary </option>
                    {% for item in itineraryData %}
                        <option value="{{item['planID']}}">{{item['Itinerary']}}</option>
                    {% endfor %}
                </select>

                <label for="activityID"> Activity </label> 
                <select id="updateActivityID" name="activityID">
                    <option value="" disabled selected> Choose Activity </option>
                    {% for item in activityData %}
                        <option value="{{item['activityID']}}">{{item['Activity']}}</option>
                    {% endfor %}
                </select>
                
                <button type="submit" value="Update Activity Itinerary" id="UpdateActivityItinerary" name="UpdateActivityItinerary">Update Relationship</button>
                <button type="button" onClick="clearUpdateText()">Cancel</button>
            </fieldset>
        </form>
        <script>
            // Clears form fields when Cancel is clicked
            function clearUpdateText() {
                document.getElementById("updatePlanID").value = '';
                document.getElementById("updateActivityID").value = '';
                document.getElementById("updateActivityItineraryID").value = '';
            }
            // Populates form fields when Edit is clicked
            function insertID(item) {
                // Takes any blank or None values and makes the form blank when it populates the form 
                document.getElementById("updateActivityItineraryID").value = item['Activities - Itineraries ID'];
                planIndex = searchVal(document.getElementById("updatePlanID"), item['Itinerary'])
                document.getElementById("updatePlanID").value = document.getElementById("updatePlanID").options[planIndex].value;
                activityIndex = searchVal(document.getElementById("updateActivityID"), item['Activity'])
                document.getElementById("updateActivityID").value = document.getElementById("updateActivityID").options[activityIndex].value;
            }
            // Returns the choice value of the dropdown list for form population on click
            function searchVal(drop, searchText) {
                for (var i = 0; i < drop.length; i++) {
                    if (drop.options[i].text === searchText) {
                        return i;
                    }
                }
            }
        </script>
        
        
<!-- Delete a selected activity to itinerary relationship -->
        <form id="DeleteActivityItinerary" action="/activities-itineraries" method="post">
            <fieldset>     
                <legend><Strong>Delete Activity to Itinerary Relationship</Strong></legend>
                <p>Are you sure you wish to delete the following?</p>
                <label> Activity - Itinerary ID: </label>
                <input type="number" id="deleteActivityItineraryID" name="activityItineraryID" placeholder="Select 'Delete' above." readonly required>

                <label for="planID"> Itinerary </label> 
                <select id="deletePlanID" name="planID" disabled required>
                    <option value=""> None </option>
                    {% for item in itineraryData %}
                        <option value="{{item['planID']}}">{{item['Itinerary']}}</option>
                    {% endfor %}
                </select>

                <label for="activityID"> Activity </label> 
                <select id="deleteActivityID" name="activityID" disabled required>
                    <option value=""> None </option>
                    {% for item in activityData %}
                        <option value="{{item['activityID']}}">{{item['Activity']}}</option>
                    {% endfor %}
                </select>

                <button type="submit" value="Delete Activity Itinerary" id="DeleteActivityItinerary" name="DeleteActivityItinerary">Delete Relationship</button>
                <button type="button" onClick="clearDeleteText()">Cancel</button>
            </fieldset>
        </form>
        <script>
            // Clears form fields when Cancel is clicked
            function clearDeleteText() {
                document.getElementById("deletePlanID").value = '';
                document.getElementById("deleteActivityID").value = '';
                document.getElementById("deleteActivityItineraryID").value = '';
            }
            // Populates form fields when Delete is clicked 
            function deleteID(item) {
                // Takes any blank or None values and makes the form blank when it populates the form
                document.getElementById("deleteActivityItineraryID").value = item['Activities - Itineraries ID'];
                planIndex = searchVal(document.getElementById("deletePlanID"), item['Itinerary'])
                document.getElementById("deletePlanID").value = document.getElementById("deletePlanID").options[planIndex].value;
                activityIndex = searchVal(document.getElementById("deleteActivityID"), item['Activity'])
                document.getElementById("deleteActivityID").value = document.getElementById("deleteActivityID").options[activityIndex].value;
            }
            // Returns the choice value of the dropdown list for form population on click
            function searchVal(drop, searchText) {
                for (var i = 0; i < drop.length; i++) {
                    if (drop.options[i].text === searchText) {
                        return i;
                    }
                }
            }
        </script>

{% endblock %}
